@{
    ViewBag.Title = "Contact";
}
<h3>Angel Soto</h3>
<strong>E-mail:</strong>   <a href="mailto:dreamensys@gmail.com">dreamensys@gmail.com</a><br />
<strong>GitHub:</strong>   <a href="https://github.com/dreamensys">@@dreamensys</a><br />
<strong>Mobile:</strong>   <a >3003468890</a><br />